<h2>Post a comment</h2>
<%=form_for :comment do |f|%>
<%= f.hidden_field :move_tutorial_id%><br>
<%= f.text_field :title%><br>

<%-f.text_area :content, size: "50x10"%>
<%= f.number_field :rating%><br>
<%= f.submit 'Create Comment'%>


<%end%>