<div class="container text-center bg-">

<h1>Welcome <%= @user.username %></h1>

<% if @user.id == @session %>
<%= link_to "edit profile", edit_user_path %><br>
<%= link_to "delete profile", user_path(@user), method: :delete, data: { confirm: "Confirm Account Deletion" }, class: "link-danger" %>
<% end %>

<div class="mt-3">
<h3>Moves You Created</h3>
</div>
<ul class="list-group border border-dark">
<% @move_tutorials.each do |m| %>
<% if m.user_id == @user.id %>
<li class="list-group-item"><%= link_to m.name, move_tutorial_path(m) %></li>
<% end %>
<% end %>
</ul>

<div class="mt-3">
<h3>Categories With My Tutorials</h3>
<ul class="list-group border border-dark">
<% @user.categories.uniq.each do |m| %>

<li class="list-group-item"><%= link_to m.name, category_path(m) %></li>
<% end %>
</ul>




<div class="mt-3">
<h3>Your Comments</h3>
</div>


<% @user.comments.each do |c| %>
<div class="container text-center card border border-dark" style="width: 18rem;">
 <div class="card-body">

Move Tutorial: <%= link_to c.move_tutorial.name, move_tutorial_path(c.move_tutorial) %><br>
Title: <%= c.title.capitalize %><br>
Content: <%= c.content %><br>
Rating: <%= c.rating %>

</div>

</div>
<% end %>




</div>