<h2>Welcome <%= @user.username.capitalize %></h2>

<% if @user.id == @session%>
<%= link_to 'edit profile', edit_user_path%><br>
<%= link_to 'delete profile', user_path(@user), method: :delete, data: {confirm: "really"} %>
<%end%>

<h3>Moves you created</h3>
<ul>
<% @move_tutorials.each do |m|%>
<% if m.user_id == @user.id %>
<li><%=link_to m.name, move_tutorial_path(m)%></li>
<%end%>
<%end%>
</ul>

<h3>Most Categories</h3>
<ul>
<% @user.categories.uniq.each do |m|%>

<li><%= m.name %></li>
<%end%>
</ul>





<h3>Your Comments</h3>
<% @user.comments.each do |c|%>
<p>
Move Tutorial: <%=link_to c.move_tutorial.name, move_tutorial_path(c.move_tutorial)%><br>
Title: <%=c.title.capitalize %><br>
Content: <%= c.content%><br>
Rating: <%= c.rating%>
</p>
<%end%>



<%# create a new move create a new comment from comment new page no nest and see if it shows up as new instance
on user show page %>