<h2>Welcome <%= @user.username.capitalize %></h2>

<% if @user.id == @session%>
<%= link_to 'edit', edit_user_path%>
<%= link_to 'delete', user_path(@user), method: :delete, data: {confirm: "really"} %>
<%end%>

<h4>Moves you created</h4>
<ul>
<% @move_tutorials.each do |m|%>
<% if m.user_id == @user.id %>
<li><%=link_to m.name, move_tutorial_path(m)%></li>
<%end%>
<%end%>
</ul>

<h3>Moves Tutorials you commented on</h3>
<%@user.comments.each do |m|%>
<li><%=link_to m.move_tutorial.name, user_move_tutorial_path(@user.id, m.id)%></li>
<%end%>



<h3>Your Comments</h3>
<% @user.comments.each do |c|%>
<ul>
<li><%= c.title %></li>
<li><%= c.move_tutorial.name%></li>
</ul>
<%end%>

<br><%=link_to 'Log Out', "/logout", method: :delete %>

<%# create a new move create a new comment from comment new page no nest and see if it shows up as new instance
on user show page %>