<br>

<div class="container border border-dark text-center">
<%= form_for(@move_tutorial) do |f| %>
<% if @move_tutorial.errors.any?%>
<div id = 'error_explanation'>
<h2><%= pluralize(@move_tutorial.errors.count, "error") %> prohibited this from being saved:</h2>
<ul>
<% @move_tutorial.errors.full_messages.each do |m|%>
<li style="color: red;"><%= m %></li>
<%end%>
</ul>
</div>
<%end%>
<div class = "field<%= 'field_with_errors' if @move_tutorial.errors.any? %>">

<h1 class="text-center mt-2">Create a Move</h1>
<div class="container">

<div class="mb-2">
Category <%= @move_tutorial.category.name%><br>
<%=f.hidden_field :category_id%>
  </div>

<div class="mb-1">
<%= f.label :name, class:"form-label" %>
<%= f.text_field :name, :size=>"30", class:"form-control"%><br>
</div>

<div class="mb-1">
<%- f.label :difficulty, class:"form-label" %>
Difficulty<%= f.text_field :difficulty, :size=>"30",  :placeholder => 'beginner, intermediate or advance', class:"form-control" %><br>
</div>

<div class="mb-1">
<%= f.label :learn_time, class:"form-label" %>
<%= f.number_field :learn_time, :placeholder => 'number of days', class:"form-control" %><br>
</div>

<div class="mb-1">
<%= f.label :description, class:"form-label" %>
<%= f.text_area :description, size: "50x10", class:"form-control"  %><br>
</div>

<%= f.submit class:"btn btn-primary"%>
<%end%>

</div>