<h2><%=@move.name.capitalize %></h2>
Category: <%= link_to @move.category.name, category_path(@move.category)%><br>
Difficulty: <%= @move.difficulty%><br>
Learn Time: <%= @move.learn_time%><br>
Desciption: <%= @move.description%><br>


<%= link_to 'add a comment', new_move_tutorial_comment_path(@move)%>

<%= link_to 'add a comment', new_category_move_tutorial_comment_path(@move.category, @move.id) %>


<% @move.comments.each do |c|%>
<%=c.user.username%>
<%end%>


<%# need to add a url path so comment can be sent from move_tutorials show page
,  :url => new_move_tutorial_comment_path(@move, @comment)  %>
<h2>Post a comment </h2>
<%=form_for :comment do |f|%>
<%= f.hidden_field :move_tutorial_id%><br>
<%= f.text_field :title%><br>

<%-f.text_area :content, size: "50x10"%>
<%= f.number_field :rating%><br>
<%= f.submit 'Create Comment',  method: :create%>


<%end%>
 

<br>
<% if @move.user_id == @user%>
<%= link_to 'edit'%>
<%= link_to 'delete', move_tutorial_path(@move), method: :delete%>

<%end%>