<h2><%=@move.name.capitalize %></h2>
Category: <%= link_to @move.category.name, category_path(@move.category)%><br>
Difficulty: <%= @move.difficulty%><br>
Learn Time: <%= @move.learn_time%><br>
Desciption: <%= @move.description%><br>

<%# 
<%= link_to 'new comment', new_comment_path%>


<% if params[:category_id] = @move.category_id%>
<%= link_to 'add a comment', new_category_move_tutorial_comment_path(@move.category, @move.id) %>
<% else %>
<%= link_to 'add a comment', new_move_tutorial_comment_path(@move)%>
<%end%>

<%= form_for @move.comments.build do |f|%>
<%=f.hidden_field :move_tutorial_id%>
<%= f.text_field :title%>
<%= f.text_area :content%>
<%= f.number_field :rating%>
<%= f.submit %>
<%end%>
 

<br>
<% if @move.user_id == @user%>
<%= link_to 'edit', edit_move_tutorial_path(@move)%>
<%= link_to 'delete', move_tutorial_path(@move), method: :delete%>

<%end%>